.fbg {

  margin-top: 5cm;
  float: left;
  margin-right: 1cm;
  margin-left: 2cm;
  margin-bottom: 39.5px;
  border-radius: 15px;
  width: 350px;
  height: 800px;
  background-color: #211a30;
  overflow-y: scroll;
  direction: rtl;
}

.title{

  border-radius: 20px;
  background-color: #15111d;
  padding: 35px; 
  width: 7%;
  text-align: center;
  font-size: 30px;

}

.menu {

  width: 50%;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;

}

.menu .li {

  margin-right: 40px;
  list-style: none;

}

.menu .li .button {

  border: none;
  border-radius: 30px;
  background-color: #15111d;
  text-decoration: none;
  color: aliceblue;
  display: block;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 20px 30px 20px 30px;
  font-size: larger;

}


/* whole scrollbar */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #15111d;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom,
      rgb(176, 11, 105),
      rgb(66, 10, 85),
      rgb(4, 32, 105));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom,
      rgb(255, 27, 141),
      rgb(241, 196, 32),
      rgb(105, 209, 204));
}