.fbg{

    float: left;
    margin-top: 1cm;
    margin-right: 1cm;
    margin-left: 1cm;
    margin-bottom: 1cm;
    border-radius: 30px;
    width: 300px;
    height: 840px;
    background-color: #211a30;
}