*{
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}


/*BTN */



.btn{

  padding: 15px 40px;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 10em;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;

}

.btn::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 20px;

}

/* glow */


.btn::before{
  content: "";
  background: linear-gradient(
    45deg,
    red, orange, yellow, lime
    cyan, blue, purple, pink,
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 10px);
    height:  calc(100% + 10px);
    filter: blur(8px);
    animation: glowing 20s linear infinite; 
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
  }

  @keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }


/* glow */

/*BTN*/


