*{
  
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.circle{

  margin-left: 31%;
  margin-top: 10em ;
  width: 55em;
  height: 55em;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(46, 23, 110);
  border: none;
  transition: 0.3s;
}

.circle:hover{

  margin-left: 31%;
  margin-top: 10em ;
  width: 55em;
  height: 55em;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(46, 23, 110);
  transition: 0.3s;
  box-shadow: 0 1px 50px 0 rgb(0, 170, 182), 0 6px 50px 0 rgb(0, 170, 182);
  
}

.img{

  display: block;
  margin: auto;
  width: 56.5%;
  

}