*{
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.circle{
  
  margin-top: 4%;
  margin-left: 30%;
  display: block;
  padding: 19%;
  width: 40%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(46, 23, 110);
  color: rgb(94, 215, 236);
  
}

circle ::before{

  margin-top: 4%;
  margin-left: 30%;
  display: block;
  padding: 19%;
  width: 40%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(46, 23, 110);
  color: rgb(94, 215, 236);
  border: none;

}

circle::after{

  margin-top: 4%;
  margin-left: 30%;
  display: block;
  padding: 19%;
  width: 40%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(46, 23, 110);
  color: rgb(94, 215, 236);
  border: solid green;

}


.img{

  display: block;
  margin: auto;
  width: 50%;

}