.bg {
  
  background: #000000;
  width: 100vw;
  height: 100vh;
}

.pageContainer {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  height: 80%;
  display: flex;
}

.profileBox {
  border-radius: 20px;
  width: 32%;
  height: 80%;
  position: relative;
  display: inline-block;
}

.profileBox::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: 0;
  border-radius: 12px;
  filter: blur(25px);
  pointer-events: none;
}

.shadd330::before {
  background:
    linear-gradient(to bottom,
      rgba(255, 27, 141, 0.5) 0%,
      rgba(255, 27, 141, 0.5) 33%,
      rgba(241, 196, 32, 0.5) 33%,
      rgba(241, 196, 32, 0.5) 66%,
      rgba(105, 209, 204, 0.5) 66%,
      rgba(105, 209, 204, 0.5) 100%);
}

.anypogers::before {
  background:
    linear-gradient(to bottom,
      rgba(176, 11, 105, 0.5) 0%,
      rgba(176, 11, 105, 0.5) 33%,
      rgba(66, 10, 85, 0.5) 33%,
      rgba(66, 10, 85, 0.5) 66%,
      rgba(4, 32, 105, 0.5) 66%,
      rgba(4, 32, 105, 0.5) 100%);
}

.profileContent {
  position: relative;
  align-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: gray;
  background: rgba(0, 0, 0, 0.90);
  border-radius: 16px;
  transition: background, color 0.2s;
}

.profileContent:hover {
  background: rgba(0, 0, 0, 0.95);
  color: white;
}

.profileContent>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.profileHeader{
  height: 20%;
}

.profileImage{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profileImage img{
  width: 80%;
  border-radius: 100%;
  transition: width 0.2s;
}

.profileImage img:hover{
  width: 85%;
}

.profileBody{
  height: 30%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.profileFooter{
  height: 20%;
}

.logoBox {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translatey(15px);
  }

  100% {
    transform: translatey(-15px);
  }
}


.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  animation: float 3s ease-in-out alternate infinite;
}

.logo img {
  width: 95%;
  transition: width 0.3s;
}

.logo img:hover {
  width: 100%;
}