*{
  padding: 0%;
  margin: 0%;
}

.notfoundBody{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-attachment: fixed;
}

a{
  text-decoration: none
}

.text{
  font-size: 450%;
  color: #f6f0ff;
  transition: font-size 0.2s;
}

.notfoundBody:hover .text{
  font-size: 460%;
}

.bg404{
  background-color: #1b1525;
  padding: 30px;
  border-radius: 30px;
  border: #7c0a9e solid 3px;
  border-top: #ff60bd solid 3px;
  border-bottom: #1907c2 solid 3px;
}

.bg404::before {
  content: "";
  position: absolute;
  inset: -30px;
  z-index: 0;
  border-radius: 12px;
  filter: blur(30px);
  pointer-events: none;
  transition: background 0.2s;
}

.bg404:hover::before{
  background:
    linear-gradient(to bottom,
      rgba(255, 96, 189, 0.1) 0%,
      rgba(255, 96, 189, 0.1) 33%,
      rgba(124, 10, 158, 0.1) 33%,
      rgba(124, 10, 158, 0.1) 66%,
      rgba(25, 7, 194, 0.1) 66%,
      rgba(25, 7, 194, 0.1) 100%
    );
}